{template header}
<style>
	.swiper-container img {
		width: 100%;
	}
	.vedio-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .6);
		z-index: 99;
		display: none;
	}
	.vedio-modal video{
		width: 90%;
		height: 300px;
		display: block;
		margin: 0 auto;
		margin-top: 40px;
		background: #000;
	}
</style>
<link rel="stylesheet" href="{SITE_THEME}css/swiper-3.4.2.min.css">
<script src="{SITE_THEME}js/swiper-3.4.2.min.js"></script>
<div class="index-context">
	<div class="swiper-container">
        <div class="swiper-wrapper">
			{list catid=52 more=1 cache=36000 order=listorder_asc}
                <div class="swiper-slide">
					<img src="{$t['shoujitupian']}" alt="" onclick="showVedioModal('{$t.url}', '{$t.shipin}');">
				</div>
			{/list}
        </div>
    </div>
	<a href="/index.php?c=content&a=list&catid=19" class="block">
		<img class="img-block" src="{block(76)}" alt="">
	</a>
	<a href="/index.php?c=content&a=list&catid=14" class="block">
		<img class="img-block" src="{block(77)}" alt="">
	</a>
</div>
<div class="vedio-modal">
	<video id="vdo" controls="controls"></video>
</div>
<script>
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: 3000,//可选选项，自动滑动
		loop : true,
		autoplayDisableOnInteraction: false
	})
	function showVedioModal(url, vedioUrl) {
		if(!vedioUrl) return;
		$(".vedio-modal").css("display", "block");
		$("#vdo")[0].src = vedioUrl;
	}
	$(".vedio-modal").on("click", function(e) {
		if(e.target == this) {
			$("#vdo")[0].src = '';
			$(".vedio-modal").css("display", "none");
		}
	});
</script>
{php $mbx = array('首页');}
{template footer}