{template header}
<style>
    .yxwl-info {
        background: #fff;
    }

    .yxwl-info h1{
        margin: 0;
        padding: 58px 0 28px 0;
        text-align: center;
        font-size: 16px;
        color: #a2824f;
    }
    .yxwl-info img{
        display: block;
        width: 100%;
    }
    .yxwl-info div {
        padding: 20px 0 70px 0;
    }
    .yxwl-info h2 {
        text-align: center;
        color: #a2824f;
        font-size: 16px;
        margin: 0;
        padding: 0;
        padding: 20px;
    }
    .yxwl-info p{
        font-size: 14px;
        color: #a2824f;
        text-align: center;
        margin: 0;
    }
</style>
<div class="yxwl-info">
    <h1>{$title}</h1>
    <img src="{$yulantu}" alt="">
    <div>
        <h2>地址</h2>
        <p>{$dizhi}</p>
        <h2>联系电话</h2>
        <p>{$yingyeshijian}</p>
    </div>
</div>
{php $mbx = array('营销网络', '完整连锁店');}
{template footer}