{php $indexc = 0;}
{template ./temp/head.html}
{php $timeArr = array();}
{php $timeData = array();}
{php $timeYearArr = array();}
{php $timeIndex = 0;}
{php $timeDataIndex = 0;}
{list catid=4 more=1 cache=36000 order=shijian_desc}
    {php $timeYear = date("Y", $t['shijian']);}
    {php $timeMouth = date("m", $t['shijian']);}
    {php $timeDay = date("d", $t['shijian']);}
    {if !array_key_exists($timeYear, $timeArr)}
        {php $timeArr[$timeYear] = array();}
    {/if}
    {php array_push($timeArr[$timeYear], array('year'=>$timeYear, 'mouth'=> $timeMouth, 'day'=>$timeDay, 'description'=>$t['description'], 'thumb'=> $t['yulantu']));}
{/list}
{loop $timeArr $k=>$v}
    {if $timeIndex == 5}
        {php $timeIndex = 0;}
        {php $timeDataIndex = $timeDataIndex + 1;}
    {/if}
    {if !$timeYearArr[$timeDataIndex]}
        {php $timeYearArr[$timeDataIndex] = array();}
    {/if}
    {if !$timeData[$timeDataIndex]}
        {php $timeData[$timeDataIndex] = array();}
    {/if}
    {php array_push($timeYearArr[$timeDataIndex], $k);}
    {php $timeData[$timeDataIndex] = array_merge($timeData[$timeDataIndex], $v);}
    {php $timeIndex = $timeIndex + 1;}
{/loop}
<link rel="stylesheet" href="{SITE_THEME}css/idangerous.swiper2.7.6.css">
<style>
    .swiper-container {
        width: 100%;
        height: 50px;
        color: #fff;
        text-align: center;
    }
    .swiper-container a{
        height: 50px;
        display: block;
        line-height: 3;
        font-size: 23px;
        color: #000;
    }
    .swiper-container a:hover{
        color: #a2824f;
    }
    .swiper-slide-active a{
        color: #a2824f;
    }
    #left-year {
        height: 200px;
    }
    #left-year .swiper-slide {
        text-align: center;
        color: #FFF;
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
</style>
<div class="container-title">
    <img src="{block(14)}" />
    <!--<div class="container-title-context">
        <h2>厚积薄发，实力也是一直品质</h2>
        <p>THE WHOLE,THE STRENGTH IS AISO A KIND OF QUALITY</p>
        <div></div>
        <span>全国茶叶标准化技术委员单位，白茶国际标准、国际标准制定单位</span>
    </div>-->
</div>
<div class="ry-body" style="position: relative;margin-top: -8px;">
    <div class="ry-top-hr"></div>
    <div class="ry-top-title">
        <h3>发展历程</h3>
        <p>THE DEVELOPMENT</p>
        <div></div>
    </div>
    <div class="ry-body-context">
        <div class="ry-body-context-year" style="width: 85px;">
            <a href="javascript:perShow();" class="ry-body-context-year-up">
                <img src="{SITE_THEME}image/jt-top.png" width="40">
            </a>
            <div class="swiper-container" id="left-year" style="width: 50px;">
              <div class="swiper-wrapper">
                {php $i = 0;}
                {loop $timeYearArr $kT=>$vT}
                    {if $vT[0]}
                    <div class="swiper-slide" onclick="swiperSelectIndex({$i})">
                        <div style="padding: 10px 0;">{$vT[0]}</div>
                    </div>
                    {else}
                    <div class="swiper-slide"><div style="padding: 10px 0;"></div></div>
                    {/if}
                    {if $vT[1]}
                    <div class="swiper-slide" onclick="swiperSelectIndex({$i})">
                        <div style="padding: 10px 0;">{$vT[1]}</div>
                    </div>
                    {else}
                    <div class="swiper-slide"><div style="padding: 10px 0;"></div></div>
                    {/if}
                    {if $vT[2]}
                    <div class="swiper-slide" onclick="swiperSelectIndex({$i})">
                        <div style="padding: 10px 0;">{$vT[2]}</div>
                    </div>
                    {else}
                    <div class="swiper-slide"><div style="padding: 10px 0;"></div></div>
                    {/if}
                    {if $vT[3]}
                    <div class="swiper-slide" onclick="swiperSelectIndex({$i})">
                        <div style="padding: 10px 0;">{$vT[3]}</div>
                    </div>
                    {else}
                    <div class="swiper-slide"><div style="padding: 10px 0;"></div></div>
                    {/if}
                    {if $vT[4]}
                    <div class="swiper-slide" onclick="swiperSelectIndex({$i})">
                        <div style="padding: 10px 0;">{$vT[4]}</div>
                    </div>
                    {else}
                    <div class="swiper-slide"><div style="padding: 10px 0;"></div></div>
                    {/if}
                    {php $i = $i + 1;}
                {/loop}
              </div>
            </div>
            <a href="javascript:nextShow();" class="ry-body-context-year-down">
                <img src="{SITE_THEME}image/jt-down.png" width="40">
            </a>
        </div>
        {loop $timeData $k=>$v}
        <ul class="ry-body-context-lc-list">
            {loop $v $ck=>$cv}
            <li>
                <img src="{$cv['thumb']}" alt="">
                <p>{$cv['year']}/{$cv['mouth']}/{$cv['day']}</p>
                <span>{$cv['description']}</span>
            </li>
            {/loop}
        </ul>
        {/loop}
        <div class="clear"></div>
    </div>
</div>
<script src="{SITE_THEME}js/idangerous.swiper2.7.6.js"></script>
<script>
    var itemLength = {$timeDataIndex};
    var leftYear = new Swiper('#left-year',{
        mode:'vertical',
        slidesPerView: 5,
        slidesPerGroup : 5,
        onSlideChangeEnd: function(swiper){
            swiperSelectIndex(swiper.activeIndex / 5);
        }
    });
    function swiperSelectIndex(index) {
        $(".ry-body-context-lc-list").css("display", "none").eq(index).css("display", "block");
    }
    function nextShow() {
        leftYear.swipeNext();
    }
    function perShow() {
        leftYear.swipePrev(); 
    }
    swiperSelectIndex(0);
</script>
{template ./temp/footer.html}