{php $indexc = 0;}
{template ./temp/head.html}
{php $timeArr = array();}
{php $year = $_GET['year'];}
{list catid=12 more=1 cache=36000 order=updatetime_asc}
    {php $timeYear = date("Y", $t['updatetime']);}
    {if !array_key_exists($timeYear, $timeArr)}
        {php $timeArr[$timeYear] = array();}
        {if !$year}
            {php $year = $timeYear;}
        {/if}
    {/if}
    {php array_push($timeArr[$timeYear], $t['id']);}
{/list}
<style type="text/css">
    .pagination {
        text-align: center;
    }
    .pagination ul, .pagination ul li{
        display: inline-block;
    }
    .pagination ul li{
        margin: 0 5px;
    }

    .pagination ul li .current{
        color: #ccc;
    }
</style>
<div class="container-title">
    <a href="{$meta_description}"><img src="{$cats[12][image]}" /></a>
</div>
<div class="ry-body" style="position: relative;margin-top: -8px;">
    <div class="ry-top-hr"></div>
    <div class="ry-top-title">
        <h3>新闻资讯</h3>
        <p>NEWS</p>
        <div></div>
    </div>
    <div class="ry-body-context">
        <div class="ry-body-context-year">
            <a href="javascript:perShowOrnextShow(true);" class="ry-body-context-year-up">
                <img src="{SITE_THEME}image/jt-top.png" width="40">
            </a>
            <ul id="pc_list">
                {loop $timeArr $k=>$v}
                <li {if $k == $year}class="active"{/if}><a href="/index.php?c=content&a=list&catid=12&year={$k}" style="color: #fff;">{$k}</a></li>
                {/loop}
            </ul>
            <a href="javascript:perShowOrnextShow(false);" class="ry-body-context-year-down">
                <img src="{SITE_THEME}image/jt-down.png" width="40">
            </a>
        </div>
        <ul class="ry-body-context-lc-list">
            {php $yearArr = join(',', $timeArr[$year]);}
            {list catid=12 and INid=$yearArr more=1 page=$page pagesize=10 order=updatetime}
            <li>
                <a href="{$t[url]}">
                    <h3>{$t['title']}</h3>
                    <img src="{$t['yulantu']}" alt="">
                    <p>{date("m", $t['updatetime'])}/{date("d", $t['updatetime'])}</p>
                    <span>{$t['description']}</span>
                </a>
            </li>
            {/list}
        </ul>
        <div class="clear"></div>
        {$pagelist}
    </div>
</div>
<script type="text/javascript">
    function perShowOrnextShow(isNext) {
        var index = $("#pc_list li").index($("#pc_list li.active"));
        if(isNext) {
            index = index -1;
            var a = $("#pc_list li a").eq(index);
            if(a.length > 0) location.href = a.attr("href");
        } else {
            index = index + 1;
            var a = $("#pc_list li a").eq(index);
            if(a.length > 0) location.href = a.attr("href");
        }
    }
</script>
{template ./temp/footer.html}