{php $indexc = 3;}
{template ./temp/head.html}
<link rel="stylesheet" type="text/css" href="{SITE_THEME}css/base.css">
<div class="img_container">
    <div class="img_div">
        <a href="//720yun.com/t/8ddjOptmrv0?pano_id=2248451" style="width: 100%; display: block;"><img src="{block(36)}" alt="糟糕,图片不见了"/></a>
    </div>
    <div class="jjh-hr-4"></div>
    <div class="img_div">
        <img src="{block(4)}" alt="糟糕,图片不见了"/>
    </div>

    <div class="jjh-hr-4"></div>

    <div class="img_div">
        <img src="{block(5)}" alt="糟糕,图片不见了"/>
    </div>

    <div class="jjh-hr-4"></div>

    <div class="img_div">
        <img src="{block(6)}" alt="糟糕,图片不见了"/>
    </div>
</div>
{template ./temp/footer.html}