{php $indexc = 3;}
{template ./temp/head.html}
<link rel="stylesheet" type="text/css" href="{SITE_THEME}css/base.css">
<!--<div class="threeD_map_container">
    <embed src="//720yun.com/t/8ddjOptmrv0?pano_id=2248451"></embed>
</div>-->
<div class="jjh-hr-4"></div>
<div class="img_container">
    <div class="img_div">
        <a href="//720yun.com/t/8ddjOptmrv0?pano_id=2248451" style="width: 100%; display: block;"><img src="{block(37)}" alt="糟糕,图片不见了"/></a>
    </div>
    <div class="img_div">
        <img src="{block(1)}" alt="糟糕,图片不见了"/>
    </div>

    <div class="jjh-hr-4"></div>

    <div class="img_div">
        <img src="{block(2)}" alt="糟糕,图片不见了"/>
    </div>

    <div class="jjh-hr-4"></div>

    <div class="img_div">
        <img src="{block(3)}" alt="糟糕,图片不见了"/>
    </div>
</div>
{template ./temp/footer.html}