{php $indexc = 5;}
{template ./temp/head.html}
{php $dataType=json_encode(linkagelist(2, 3));}
{php $dq = $_GET['dq'];}
{if $dq != null}
{list table=linkage id=$dq}
{php $linkageName=$t[name];}
{/list}
{/if}
<style type="text/css">
@media (min-width: 992px) {
  .banner-image img{
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .banner-image img{
      height: 600px;
  }
}

@media (max-width: 1200px) {
    .yxwl-banner {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .yxwl-down-list {
        width: 300px;
        margin-left: -150px;
    }
}
</style>
<div class="yxwl-banner" style="z-index: 10;">
    <img src="{$cats[27][image]}" alt="">
</div>
<div class="mendian-list">
    <h2>品品香全国连锁店{if $linkageName != null}，{$linkageName}{/if}</h2>
    <div class="yxwl-down-list">
        <p>{if $linkageName != null}{$linkageName}{else}选择省份或地区{/if}</p>
        <span></span>
        <ul>
            {php $data=linkagelist(2);}
            {loop $data $t}
                <li>
                    <a href="/index.php?c=content&a=list&catid=27&dq={$t['id']}">{$t['name']}</a>
                </li>
            {/loop}
        </ul>
    </div>
</div>
<hr style="border-color: #F9F9F9; margin: 0;">
<ul class="mendian-list-data">
    {php $datas=linkagelist(2);}
    {php $selfData = $datas[$dq];}
    {if $dq != null}
        {list catid=27 and suozaidiqu=$dq more=1 cache=36000 order=listorder_asc}
            <li>
                <a href="{$t['url']}">
                    <h2>{$t[title]}</h2>
                    <span>{$t['dizhi']}</span>
                </a>
            </li>
        {/list}

        {if $selfData && $selfData['arrchilds']}
            {loop $selfData['arrchilds'] $dataId}
                {php $isSetTitle = false;}
                {php $dzData=linkagedata(2, $dataId);}
                {list catid=27 and suozaidiqu=$dataId more=1 cache=36000 order=listorder_asc}
                <li>
                    <a href="{$t['url']}">
                        <h2>{$t[title]}</h2>
                        <span>{$t['dizhi']}</span>
                    </a>
                </li>
                {php $isSetTitle = true;}
                {/list}
            {/loop}
        {/if}
    {else}
    {php $links = linkagelist(2);}
    {loop $links $l}
        {php $linkIds = $l['arrchilds'];}
        {if !$linkIds}
            {php $linkIds = array($l['id']);}
        {/if}
        
        {php $isT = false;}

        {loop $linkIds $dataId}
            {php $isSetTitle = false;}
            {php $dzData=linkagedata(2, $dataId);}
            {php $dzDatas=array();}
            {list catid=27 and suozaidiqu=$dataId more=1 cache=36000 order=listorder_asc}
                {php array_push($dzDatas, $t);}
                {php $isSetTitle = true;}
            {/list}

            {if !$isT}
                <li style="
                    margin: 0;
                    display: block;
                    float: none;
                    clear: both;
                    width: 100%;
                    height: initial;
                    padding-top: 30px;
                "><h3 style="
                    margin: 0 -13px;
                    color: #B59046;
                    font-size: 30px;
                    border-bottom: 1px solid #b59046;
                    padding: 10px 13px;
                ">{$dzData['name']}</h3></li>
                {php $isT = true;}
            {/if}

            {loop $dzDatas $t}
                <li>
                    <a href="{$t['url']}">
                        <h2>{$t[title]}</h2>
                        <span>{$t['dizhi']}</span>
                    </a>
                </li>
            {/loop}
        {/loop}

    {/loop}
    {list catid=278 more=1 cache=36000 order=listorder_asc}
        {if !$isSetTitle}
            <li style="
                margin: 0;
                display: block;
                float: none;
                clear: both;
                width: 100%;
                height: initial;
                padding-top: 30px;
            "><h3 style="
                margin: 0;
                color: #B59046;
                font-size: 30px;
            ">{$dzData['name']}</h3></li>
        {/if}
    <li>
        <a href="{$t['url']}">
            <h2>{$t[title]}</h2>
            <span>{$t['dizhi']}</span>
        </a>
    </li>
    {/list}
    {/if}
</ul>
<script type="text/javascript">
    $(".yxwl-down-list").click(function() {
        $(this).find("ul").toggle();
    });
</script>
{template ./temp/footer.html}