{php $indexc = 5;}
{template ./temp/head.html}
<div class="yxwl-info">
    <h2>{$title}</h2>
    <div class="yxwl-info-msg">
        <div class="yxwl-info-msg-area">
            <div class="yxwl-info-msg-item">
                <h3>地址：</h3>
                <p>{$dizhi}</p>
            </div>
            <div class="yxwl-info-msg-item">
                <h3>联系电话：</h3>
                <p>{$yingyeshijian}</p>
            </div>
        </div>
        <img src="{$yulantu}" alt="">
    </div>
</div>
{template ./temp/footer.html}