{php $indexc = 5;}
{template ./temp/head.html}
<link rel="stylesheet" href="{SITE_THEME}css/idangerous.swiper2.7.6.css">
<style type="text/css">
@media (min-width: 992px) {
  .banner-image img{
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .banner-image img{
      height: 600px;
  }
}

@media (max-width: 1200px) {
    .yxwl-banner {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .yxwl-down-list {
        width: 300px;
        margin-left: -150px;
    }
}
</style>
<div class="yxwl-banner" style="z-index: 10;">
    <img src="{$cats[25][image]}" alt="">
    <h2>品品香全国连锁店</h2>
    <div class="yxwl-down-list">
        <p>查找门店</p>
        <span></span>
        <ul>
            {php $menDianList = array();}
            {list catid=27 more=1 cache=36000 order=listorder_asc}
            {php $data=linkagedata(2, $t['suozaidiqu']);}
            {php $dizhiName = $data['name'];}
            {php $parentid = $t['suozaidiqu'];}
            {if $data['parentid'] != 0}
                {php $parentid = $parentid.$data['parentid'];}
                {php $data=linkagedata(2, $data['parentid']);}
                {php $dizhiName = $data['name'].'，'.$dizhiName;}
            {/if}
            {if $data['parentid'] != 0}
                {php $parentid = $parentid.$data['parentid'];}
                {php $data=linkagedata(2, $data['parentid']);}
                {php $dizhiName = $data['name'].'，'.$dizhiName;}
            {/if}
            {if !$menDianList[$parentid]}
                {php $menDianList[$parentid] = array();}
            {/if}
            {php array_push($menDianList[$parentid], array('url' => $t['url'], 'dizhiName' => $dizhiName));}
            {/list}
            {php ksort($menDianList);}
            {loop $menDianList $kA=>$vA}
                {loop $vA $k=>$v}
                <li>
                    <a href="{$v['url']}">{$v['dizhiName']}</a>
                </li>
                {/loop}
            {/loop}
        </ul>
    </div>
    <a href="/index.php?c=content&a=list&catid=27" class="yxwl-all-dian">完整连锁店列表</a>
</div>
<div class="yxwl-banner" style="margin-bottom: 30px;">
    <div class="banner-body">
        <div class="banner-image">
            <a class="arrow-left"></a>
            <a class="arrow-right"></a>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {list catid=26 more=1 cache=36000 order=listorder_asc}
                    <div class="swiper-slide">
                        <img src="{$t['zhanshitupian']}">
                    </div>
                    {/list}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{SITE_THEME}js/idangerous.swiper2.7.6.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container',{
        loop:true,
        calculateHeight: true,
        autoplay: 3000,
        updateOnImagesReady : true
    })
    $('.arrow-left').on('click', function(e){
        e.preventDefault()
        mySwiper.swipePrev()
    })
    $('.arrow-right').on('click', function(e){
        e.preventDefault()
        mySwiper.swipeNext()
    });
</script>
<script type="text/javascript">
    $(".yxwl-down-list").click(function() {
        $(this).find("ul").toggle();
    });
</script>
{template ./temp/footer.html}